﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vehicle Manufacturing Process</h1>
    <p class="lead">Build your car today!</p>
    <p>@Html.ActionLink("Start Here!", "startCar", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Vehicles</h2>
        <p>
            Information
        </p>
        <p>@Html.ActionLink("View Vehicles", "viewCars", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Learn More</h2>
        <p></p>
        <p>@Html.ActionLink("Learn More", "viewCars", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Something</h2>
        <p></p>
        <p>@Html.ActionLink("Extras", "viewCars", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>
@*p>@Html.ActionLink("Create Expense File", "ExpenseForm", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>*@
