﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>startCar</title>
</head>
<body>
    <div class="jumbotron"> 
        <h1>Welcome!</h1> 
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p>Hello "user" to a new opportunity that let's you dive into a world where YOU get to pick how your car drives, not what is already given </p>
        </div>
        <div class="col-lg-6">
            <p>@Html.ActionLink("Click Here to Get Started!", "Create", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
        </div>
    </div>
</body>
</html>
