﻿@model IEnumerable<DataAccessLayer.Vehicle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Engine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tires)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completion.EngineStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Engine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tires)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completion.EngineStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehiclesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehiclesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VehiclesID })
        </td>
    </tr>
}

</table>
